.font-size{
    color: var(--FONT-BLACK, #222);
font-family: Poppins;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: 82px; 
}

.font-size span{
    background: var(--GRA-Blue2, linear-gradient(169deg, #3984F4 -6.01%, #0CD3FF 36.87%, #2F7CF0 78.04%, #0E65E8 103.77%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Poppins;
font-size: 68px;
font-style: normal;
font-weight: 700;
line-height: 82px;
}

.font-little{
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--GRA-Blue, linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#font-alt{
    width: 612px;
    color: var(--FONT-SECONDARY, #666);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}